.centerLayer{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    
    align-content: center;
    
    justify-content: center;
    width: 280px;
    height: 180px;
    background-color: blue;
   
    overflow: auto;
    
}