
/*.box{
    width: 500px; 
    margin: 0 auto;
    background-color: bisque;
}непонятно для чего*/

.header{
    height: 6vh;
    background-color: aqua;
    text-align: center;
    border: 1px solid red;
    font-size: 2em;
}

.leftCol{
    float: left;
    width: 20vw;
    height: 80vh;
    margin-top: 10px;
    background-color: blueviolet;
    overflow: auto;
    border: 1px solid red;
    text-align: center;
}

.rightCol{
    margin-left: 20vw;
    height: 80vh;
    margin-top: 10px;
    background-color: burlywood;
    overflow: auto;
    border: 1px solid red;
    text-align: center;
}

.footer{
    height: 6vh;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid red;
    margin-top: 10px;
}