
.box{
    
    display: flex;
    flex-wrap: wrap;
    width: 80vw; 
    margin: 0 auto;
    background-color: bisque;
    
}

.header{
    
    width: 100%;
    height: 6vh;
    background-color: aqua;
    text-align: center;
    border: 1px solid red;
    font-size: 2em;
}

.leftCol{
    
    width: 200px;
    height: 100vh;
    margin-top: 10px;
    background-color: blueviolet;
    overflow: auto;
    text-align: center;
}

.rightCol{
    
    flex: 1;
    height: 100vh;
    margin-top: 10px;
    background-color: burlywood;
    overflow: auto;
    text-align: center;
}

.footer{
    width: 100vw;
    height: 6vh;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}