body{
    background-color: black;
}
.icons{
    width: 512px;
    margin: 100px auto 0;
    
}

.img1:hover{
    background: url(https://icons.iconarchive.com/icons/alecive/flatwoken/256/Apps-Icon-Template-File-B-icon.png);
}

.img1{
    background:url(https://icons.iconarchive.com/icons/alecive/flatwoken/256/Apps-Icon-Template-icon.png);
    width: 256px;
    height: 256px;
    display: inline-block;
    margin: 0 256px;
}
